:root {
  --banner-skew: 10px;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  font-weight: normal;
}

h6 {
  font-size: 14px;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  opacity: 0;
}

body {
  width: 100%;
  height: 100%;
  background: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Bahnschrift;
  text-transform: uppercase;
  white-space: nowrap;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.double-skew {
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--banner-skew)) 100%, var(--banner-skew) 100%);
}

.left-skew, #left .score {
  clip-path: polygon(0 0, calc(100% - var(--banner-skew)) 0, 100% 100%, var(--banner-skew) 100%);
}

.right-skew, #right .score {
  clip-path: polygon(var(--banner-skew) 0, 100% 0, calc(100% - var(--banner-skew)) 100%, 0 100%);
}

#topGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner {
  width: 1200px;
  height: 50px;
  margin-top: 30px;
  background: #ddd;
  display: flex;
  justify-content: center;
}

#banner > * {
  background: white;
  display: flex;
  align-items: center;
}

#left, #right {
  flex: 1;
}

.score {
  width: 50px;
  background: #333333;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left .char-icons.left,
#right .char-icons.right {
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}

#left .char-icons.right,
#right .char-icons.left {
  margin-left: 0.2rem;
  margin-right: 0.5rem;
}

#left .score {
  margin-left: calc(var(--banner-skew) * -1);
}

#right .score {
  margin-right: calc(var(--banner-skew) * -1);
}

.char-icons {
  width: 38px;
  height: auto;
}

.force {
  margin: 0 0.5rem !important;
}

#left {
  clip-path: polygon(-100% 0, calc(100% - var(--banner-skew)) 0, 100% 100%, -100% 100%);
}

#right {
  clip-path: polygon(var(--banner-skew) 0, 200% 0, 200% 100%, 0 100%);
  flex-direction: row-reverse;
}

#middle {
  --shift: 3px;
  margin: 0 calc(var(--banner-skew) * -1 + var(--shift));
  width: 25%;
  flex-direction: column;
  justify-content: center;
}

#subBar {
  height: 17px;
  width: 300px;
  margin-top: 5px;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#subBar > div {
  flex: 1;
  display: flex;
  align-items: center;
}

#subBar > div.left {
  justify-content: flex-end;
}

#subBar > img {
  height: 90%;
  margin: 0 0.5rem;
}
